svg(
  version="1.0"
  xmlns="http://www.w3.org/2000/svg"
  width="32.000000pt"
  height="32.000000pt"
  viewBox="0 0 32.000000 32.000000"
  preserveAspectRatio="xMidYMid meet"
)
  g(
    transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
    fill="#000000"
    stroke="none"
  )
    path(d="M16672 23203 c-24 -483 -67 -1377 -97 -1988 -51 -1045 -76 -1550 -225 -4600 -33 -676 -89 -1826 -125 -2555 -36 -729 -105 -2155 -155 -3170 -83 -1693 -146 -2982 -295 -6035 -30 -616 -82 -1676 -115 -2355 -33 -679 -74 -1503 -90 -1830 -16 -327 -28 -595 -27 -595 5 -3 8390 1815 8395 1820 5 5 -134 952 -869 5920 -413 2796 -669 4522 -1034 6995 -85 575 -231 1565 -325 2200 -94 635 -256 1731 -360 2435 -104 704 -232 1572 -285 1929 -53 357 -103 665 -111 685 -8 20 -31 53 -51 73 -75 76 -14 69 -1244 160 l-1114 83 -825 820 c-757 753 -830 823 -885 847 -33 14 -74 29 -90 32 l-31 7 -42 -878z")